In [2]:
import pandas as pd

In [3]:
hop = "Resources/purchase_data.csv"
hop_df = pd.read_csv(hop)
hop_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [4]:
# counting unique values in the SN column
total_players = len(pd.unique(hop_df['SN']))
#printing results
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

In [5]:
# counting unique values in the Item ID column
unique_items = len(pd.unique(hop_df['Item ID']))

# calculating the average price using the mean function and rounding it to two decimals using the round function
average_price= round(hop_df['Price'].mean(), 2)

# calculating the number of purchases using the length function
purchases_number = len(hop_df['Price'])

# calculating the sum of the Price column using the sum function
total_revenue = hop_df['Price'].sum()

# printing the results into a table (rounded and printed the total revenue using f-strings)
pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": purchases_number,
             "Total Revenue": ["$"'{:,.2f}'.format(total_revenue)]})

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                     179           3.05                  780     $2,379.77