In [97]:
# import Dependencies
import pandas as pd

In [98]:
# read/import csv file
hop = "Resources/purchase_data.csv"
hop_df = pd.read_csv(hop)

# print csv file
hop_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [99]:
# counting unique values in the SN column
total_players = len(pd.unique(hop_df['SN']))
#printing results
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

In [100]:
# counting unique values in the Item ID column
unique_items = len(pd.unique(hop_df['Item ID']))

# calculating the average price using the mean function and rounding it to two decimals using the round function
average_price= round(hop_df['Price'].mean(), 2)

# calculating the number of purchases using the length function
purchases_number = len(hop_df['Price'])

# calculating the sum of the Price column using the sum function
total_revenue = hop_df['Price'].sum()

# printing the results into a table (rounded and printed the total revenue using f-strings)
pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": purchases_number,
             "Total Revenue": ["$"'{:,.2f}'.format(total_revenue)]})

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                     179           3.05                  780     $2,379.77

In [119]:
# recreating the csv file by removing all duplicates using the drop duplicates function and by specifying which column to use the function on
unique_players_df = hop_df.drop_duplicates(subset='SN')

# calculate the total count of all values in the Gender column using the len function
total_gender_count = len(unique_players_df['Gender'])

# calculating the count of every unique values in the Gender column using the value_counts function
total_gender_value_count = unique_players_df['Gender'].value_counts()

# calculating the percentage of the count of every unique values in the Gender column
total_percentage_count = (total_gender_value_count / total_gender_count) * 100

# rounding the percentage to 2 decimal places
rounded_percentage = total_percentage_count.round(decimals=2)

# converting the first series to frame
table1_df = total_gender_value_count.to_frame()

# renaming the header of the column to "Total Count"
table1_df.rename(columns = {'Gender':'Total Count'}, inplace = True)

# printing the first table
table1_df.head()

                       Total Count
Male                           484
Female                          81
Other / Non-Disclosed           11

In [102]:
# converting the second series to frame
table2_df = rounded_percentage.to_frame()

# renaming the header of the column to "Percentage of Players"
table2_df.rename(columns = {'Gender':'Percentage of Players'}, inplace = True)

#printing the second table
table2_df.head()

                       Percentage of Players
Male                                   84.03
Female                                 14.06
Other / Non-Disclosed                   1.91

In [114]:
# merging the two tables using the merge function 
gender_demographics_df = pd.merge(table1_df, table2_df, left_index=True, right_index=True)

#printing the merged dataframe
gender_demographics_df.head()

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91